node_modules
.turbo
.next
dist
coverage
.env
.env.local
*.log
*.tsbuildinfo
.DS_Store
/workspaces
/workspaces-smoke
artifacts
artifacts-smoke
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
packages/*/src/**/*.js
packages/*/src/**/*.js.map
temp/
